<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIButton*</key>
	<string>- (UIButton *)&lt;name&gt; {
    if (!_&lt;name&gt;) {
		UIButton *button = [[UIButton alloc]init];
		[button setTitle:@&quot;&lt;#title#&gt;&quot; forState:UIControlStateNormal];
        [button setTitleColor:[UIColor blackColor] forState:UIControlStateNormal];
        [button addTarget:self action:@selector(&lt;#action#&gt;) forControlEvents:UIControlEventTouchUpInside];

        &lt;#custom#&gt;

        _&lt;name&gt; = button;
    }
    return _&lt;name&gt;;
}
</string>
	<key>UIImageView*</key>
	<string>- (UIImageView *)&lt;name&gt; {
    if (!_&lt;name&gt;) {
		UIImageView *imageView = [[UIImageView alloc]init];
        imageView.image = [UIImage imageNamed:@&quot;&lt;#imageName#&gt;&quot;];
        imageView.contentMode = UIViewContentModeScaleAspectFill;
        &lt;#custom#&gt;

        _&lt;name&gt; = imageView;
    }
    return _&lt;name&gt;;
}
</string>
	<key>UILabel*</key>
	<string>- (UILabel *)&lt;name&gt; {
    if (!_&lt;name&gt;) {
        UILabel* label = [[UILabel alloc]init];
        label.backgroundColor = [UIColor clearColor];
        label.textColor = [UIColor blackColor];
        label.font = [UIFont systemFontOfSize:14.0f];

        &lt;#custom#&gt;

        _&lt;name&gt; = label;
    }
    return _&lt;name&gt;;
}
</string>
	<key>UITableView*</key>
	<string>- (UITableView *)&lt;name&gt; {
	if (!_&lt;name&gt;) {
		UITableView *tableView = [[UITableView alloc]init];
        tableView.delegate = self;
        tableView.dataSource = self;

        _&lt;name&gt; = tableView;
	}
	return _&lt;name&gt;;
}
</string>
</dict>
</plist>
